.aws-btn {
  --button-default-height: 2.7rem;
  --button-default-font-size: 1.2rem;
  --button-default-border-radius: 0.5rem;
  --button-horizontal-padding: 0.2rem;
  --button-raise-level: 0.2rem;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #3f3d57;
  --button-primary-color-dark: #2f2e41;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #3f3d57;
  --button-primary-color-active: #3f3d57;
  --button-primary-border: none;
  --button-secondary-color: #4bb5c3;
  --button-secondary-color-dark: #3d96a2;
  --button-secondary-color-light: #ffffff;
  --button-secondary-color-hover: #4bb5c3;
  --button-secondary-color-active: #4bb5c3;
  --button-secondary-border: none;
  --button-anchor-color: #ffffff;
  --button-anchor-color-dark: #2f2e41;
  --button-anchor-color-light: #2f2e41;
  --button-anchor-color-hover: #ffffff;
  --button-anchor-color-active: #ffffff;
  --button-anchor-border: 0.01px solid #2f2e41;
  --button-small-width: 4rem;
  --button-small-height: 2rem;
}

.btn.btn-urtest-header {
  color: #fff;
  font-size: 0.9rem;
  padding: 0;
  font-weight: 700;
}
.btn.btn-urtest-header:focus {
  color: #fff;
  box-shadow: none;
}
.btn.btn-urtest-header:hover {
  color: #fff;
}

.btn.btn-urtest {
  color: #fff;
  font-size: 1.2rem;
}
.btn.btn-urtest:focus {
  color: #fff;
  box-shadow: none;
}
.btn.btn-urtest:hover {
  color: #fff;
}

.btn.btn-urtest:active {
  color: #fff;
}

.a-urtest {
  text-decoration: none;
  color: #2f2e41 !important;
}

.a-urtest:hover {
  text-decoration: none;
  color: #2f2e41 !important;
}

.btn.btn-tinder-urtest:focus {
  box-shadow: none;
}

.btn-home-viewall .aws-btn__content.active {
  box-shadow: none;
  background-color: #2f2e41;
  color: #fff !important;
}
.btn-home-viewall .aws-btn__content.active:hover {
  background-color: #2f2e41;
}
.btn-home-viewall .aws-btn__content.active .btn {
  color: #fff !important;
}
.btn-home-imglist .aws-btn__content.active {
  box-shadow: none;
  background-color: #2f2e41;
  color: #fff !important;
}
.btn-home-imglist .aws-btn__content.active:hover {
  background-color: #2f2e41;
}
.btn-home-imglist .aws-btn__content.active .btn {
  color: #fff !important;
}
.btn-home-textlist .aws-btn__content.active {
  box-shadow: none;
  background-color: #2f2e41;
  color: #fff !important;
}
.btn-home-textlist .aws-btn__content.active:hover {
  background-color: #2f2e41;
}
.btn-home-textlist .aws-btn__content.active .btn {
  color: #fff !important;
}
