.font-jua {
  font-family: "Jua", sans-serif;
}
.font-soojin {
  font-family: "Soojin", sans-serif;
}
.font-ssuround {
  font-family: "Ssuround", sans-serif;
}
.font-mg {
  font-family: "MG", sans-serif;
}
.font-bgr {
  font-family: "BGR", sans-serif;
}
.font-bgr-b {
  font-family: "BGR-B", sans-serif;
}