.font-jua {
  font-family: "Jua", sans-serif;
}
.font-soojin {
  font-family: "Soojin", sans-serif;
}
.font-ssuround {
  font-family: "Ssuround", sans-serif;
}
.font-mg {
  font-family: "MG", sans-serif;
}
.font-bgr {
  font-family: "BGR", sans-serif;
}
.font-bgr-b {
  font-family: "BGR-B", sans-serif;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-1-1 {
  font-size: 1.1rem;
}
.font-size-1-2 {
  font-size: 1.2rem;
}
.font-size-1-3 {
  font-size: 1.3rem;
}