// 순서 중요함 섞지 마세요

@import "./main.scss";
@import "./login.scss";
@import "./custom.scss";
@import "./header.scss";
@import "./sidebar.scss";
@import "./dropzone.scss";
@import "./cardslider.scss";
@import "./imggame.scss";
@import "./datatable.scss";
@import "./loading.scss";
@import "./textgame.scss";
@import "./fonts.scss";
@import "./upload.scss";


$body-bg: white;

// swiper --------------------
@import "swiper/swiper.scss";
@import "swiper/components/navigation/navigation.scss";
@import "swiper/components/scrollbar/scrollbar.scss";
@import "swiper/components/pagination/pagination.scss";

// bootstrap ---------------
@import "~bootstrap/scss/bootstrap.scss";

// datatable ---------------
@import "react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.min.css";
// font
@font-face { font-family: 'Jua'; src: url(./fonts/Jua.ttf) format('truetype'); }
@font-face { font-family: 'Soojin'; src: url(./fonts/Soojin.ttf) format('truetype'); }
@font-face { font-family: 'Ssuround'; src: url(./fonts/Ssuround.ttf) format('truetype'); }
@font-face { font-family: 'MG'; src: url(./fonts/MG.ttf) format('truetype'); }
@font-face { font-family: 'BGR'; src: url(./fonts/BGR.ttf) format('truetype'); }
@font-face { font-family: 'BGR-B'; src: url(./fonts/BGR-B.ttf) format('truetype'); }
