.login {
  font-family: "Jua", sans-serif;
}

.image {
  min-height: 93vh;
}
.bg-image3 {
  background-image: url("undraw3.svg");
  background-size: cover;
  margin-bottom: -30px;
}

.bg-image2 {
  background-image: url("undraw2.svg");
  background-size: cover;
}
.bg-image {
  background-image: url("undraw.svg");
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  margin-bottom: -110px;
  vertical-align: middle;
}

.login-heading {
  text-align: center;
  // font-family: "Jua", sans-serif;
  font-size: 50px;
}

.btn-login {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  width: 300px;
  height: 45px;
  text-align: center;
}

.btn-login2 {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  width: 300px;
  height: 45px;
  text-align: center;
}
.form-label {
  font-family: "BGR-B", sans-serif;
  font-size: 1.5rem;
}
.fs-20 {
  font-size: 1rem;
}

.loginAll {
  margin-top: 70px;
}

.signupall {
  margin-top: 70px;
}
