.main {
  position: relative;
  top: 40px;
  height: 100%;
  font-family: "BGR-B", sans-serif;
  font-weight: 100;
}

.vh-89 {
  height: 89vh;
}

.vh-92 {
  height: 92vh;
}
.vh-93 {
  height: 93vh;
}
body {
  overflow-y: scroll;
}

.btn-dark {
  background-color: #2f2e41 !important;
}

.color-purple-b {
  background-color: #2f2e41 !important;
}

.color-purple {
  background-color: #3f3d57 !important;
}

.color-turquoise {
  background-color: #3d96a2 !important;
}
.color-turquoise-b {
  background-color: #2c717a !important;
}

.btn-info {
  background-color: #3d96a2 !important;
}
.textlink {
  color: #3d96a2 !important;
}
.textlink:hover {
  text-decoration: none;
  color: #2C717A !important;
}

.bg-image4 {
  background-image: url("404.svg");
  background-size: cover;
  background-position: center;
}
