.textgame-title {
  text-align: center;
  font-size: 2rem;
  word-break: break-word;
}

.textgame-answer {
  text-align: center;
  font-size: 2.3rem;
  cursor: pointer;
  word-break: break-word;
}

.textgame-pick-first {
    border: 3px solid #404854;
}

.textgame-pick-second {
    border: 3px solid #de4e46;
}

.textgame-border {
    border: 1px solid #3F3D57;
}

@media (max-width: 576px) {
    .textgame-answer {
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;
        word-break: break-word;
    }
  }
