.textgame-title {
    text-align: center;
    font-size: 2.0rem;
    word-break: break-word;
}

.textgame-answer {
    text-align: center;
    font-size: 2.3rem;
    cursor: pointer;
    word-break: break-word;
}

.textgame-pick {
    border: 3px solid #3F3D57;
}