.textgame-title {
  text-align: center;
  font-size: 2rem;
  word-break: break-word;
}

.textgame-answer {
  text-align: center;
  font-size: 2.3rem;
  cursor: pointer;
  word-break: break-word;
}

.textgame-pick {
  border: 3px solid #3f3d57;
}
