.swipe {
  position: absolute;
}
@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

@keyframes guesture-guide {
  0% {
    opacity: 0;
    width: 300px;
    height: 300px;
    z-index: 9999;
    transform: translate3d(0, 0, 0);
  }
  30% {
    opacity: 1;
    z-index: 9999;
    transform: translate3d(0, 0, 0) scale(0.7);
  }
  90% {
    opacity: 0.2;
    z-index: 9999;
    transform: translate3d(200px, -50px, 0) scale(0.7);
  }
  99% {
    opacity: 0;
    width: 300px;
    height: 300px;
    z-index: 9999;
    transform: translate3d(400px, -100px, 0) scale(0.9);
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -99;
    transform: translate3d(400px, -100px, 0) scale(0);
  }
}
.guesture {
  position: fixed;
  top: 50%;
  opacity: 0;
  left: 40%;
  width: 0;
  height: 0;
  z-index: -99;
  animation-name: guesture-guide;
  animation-delay: 2.5s;
  animation-duration: 2s;
}

@for $i from 1 through 100 {
  @keyframes fadeInRandom#{$i} {
    0% {
      opacity: 0.5;
      transform: translate3d(#{randomNum(-2000, 2000)}px, #{randomNum(-2000, 2000)}px, 0)
        rotate(#{randomNum(-90, 90)}deg);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0) rotate(0);
    }
  }
  .tinder-card-container .swipe:nth-child(#{$i}n) {
    animation-name: fadeInRandom#{$i};
    animation-duration: #{randomNum(500, 3000)}ms;
  }
}

.tinder-card-container {
  width: 80vw;
  max-width: 400px;
  height: 350px;
}

.tinder-card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 400px;
  height: 300px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.tinder-root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89.8vh;
}

.tinder-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tinder-div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tinder-card-content {
  width: 100%;
  height: 100%;
}

.aws-btn.btn-tinder-reset {
  top: 6rem;
}
.aws-btn.btn-tinder-viewall {
  top: 6rem;
}
.aws-btn.btn-tinder-imglist {
  top: 6rem;
}
.aws-btn.btn-tinder-textlist {
  top: 6rem;
}
.tinder-wrapper {
  background-color: #1f2937;
}

.tinder-title {
  margin-bottom: 1.5rem;
  align-items: center;
}

@media (max-width: 992px) {
  .col-tinder {
    padding: 5px !important;
    width: auto !important;
  }
  .tinder-title {
    padding: 0;
  }
  .tinder-title.mt-4 {
    margin-top: 2rem !important;
  }
  .tinder-title.mt-4.mytest-title {
    margin-top: 1rem !important;
  }
  .guesture {
    left: 3%;
  }
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.tinder-img-box {
  height: 24vh;
}
.tinder-img-box img {
  width: 50%;
  height: 100%;
  border-radius: 2px;
}

.tinder-start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 5rem;
}
.tinder-start-game div {
  color: white;
  border-radius: 3px;
  width: 3rem;
  font-size: 3rem;
  display: block;
  opacity: 1;
  z-index: 999;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.tinder-start-game div svg {
  background-color: #1f2937;
  border: 1px solid #1f2937;
  border-radius: 7px;
}

.tinder-answer-box span {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2f2e41;
  border-top: 1px solid #f8f5f1;
  border-bottom: 1px solid #f8f5f1;
}
.tinder-answer-box span:nth-child(2) {
  border-right: 1px solid #f8f5f1;
}
.tinder-answer-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  background-color: #2f2e41;
}
.tinder-start-game div svg {
  background-color: #1f2937;
  border: 1px solid #1f2937;
  border-radius: 7px;
}
