.bg-light3 {
  font-family: "Jua", sans-serif;
}
.bg-lightk {
  font-family: "Jua", sans-serif;
}
.upload {
  font-family: "Jua", sans-serif;
}
.title {
  font-family: "Jua", sans-serif;
}
.login-headings {
  font-family: "Jua", sans-serif;
  text-align: center;
}
.real {
  margin-top: 100px;
}
